body {
}

.headerCssClass
{  
            background-color:#FF5100;/*#EC9852;*/
            font-weight:bold;
            color:white;
           
            border:1px solid black;  
            padding:4px; 
            font-family:Calibri;
            font-size:small; 
            width:77%;
        }  
        .contentCssClass{  
            /*background-color:white;*/  
            color:black;  
            /*border:1px dotted black;*/  
            padding:4px;  
            font-family:Calibri;
            font-size:small; 
            width:77%;
        }  
        .headerSelectedCss{  
            background-color:#333E48;  
            color:white;  
            border:1px solid black;  
            padding:4px;
            font-family:Calibri;
            font-size:small;  
            font-weight:bold; 
            width:77%;
        }  